.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px;
}

/* Gaya untuk logo */
.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

/* Gaya untuk navigasi */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Mengubah urutan menu ke kanan */
nav ul {
  margin-left: auto;
}